
.appointment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
}

.confirmed-icon {
    color: green;
    font-size: 40px !important;
    margin-right: 20px;
}

.waiting-icon {
    color: gray;
    font-size: 40px !important;
    margin-right: 20px;
}

.cancelBtn {
    padding: 10px 25px;
    border: none;
    background-color: #ffcccc;
    color: #ff4d4d;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-right: 15px;
}

.cancelBtn:hover {
    background-color: #ffb2b2;
    transform: translateY(-2px);
}

.box {
    box-shadow: 0 0 15px rgba(92, 99, 105, 0.15);
    width: 60%;
    margin-bottom: 40px;
    border-radius: 15px;
}

.box-info {
    padding: 20px;
}

.appointment-info {
    margin-top: 25px;
}

.appointment-cancelBtn {
    margin-bottom: 25px;
}

.state-text {
    text-align: center;
}