
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.page {
    padding-left: 120px;
    padding-right: 120px;
    font-family: 'Poppins', sans-serif;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 2;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.transparent {
    display: none;
}

.above-dropdown {
    z-index: 3;
}

.highlight-text {
    color: #585bfa;
    font-weight: bold;
}

.align-right {
    display: flex;
    margin-left: auto;
    padding: 0;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.   icon {
    margin-right: 10px;
}

.not-found-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    margin-bottom: 50px;
}

.not-found-text {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.none-decoration {
    text-decoration: none;
    color: black;
}

.btn {
    border: none;
    border-radius: 25px;
    background-color: #585bfa;
    padding: 15px 25px;
    font-size: 15px;
    box-shadow: 0 0 15px rgba(92, 99, 105, 0.15);
    cursor: pointer;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.btn:hover {
    background-color: #7475ff;
    transform: translateY(-2px);
}

.btn-text {
    color: white;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}

.error {
    color: #e75a46;
    font-size: 14px;
}

.none-page-text {
    color: gray;
    margin: 0 15px;
}

.page-text {
    text-decoration: none;
    color: #585bfa;
    margin: 0 15px;
}

.search-box {
    width: 100%;
    border-radius: 20px 0 0 20px;
    padding: 10px 20px;
    background-color: #efefef;
    border: none;
    font-family: 'Poppins', sans-serif;
    height: 45px;
}

.search-box:hover {
    background-color: #e1e1e1;
}

.search-button {
    background-color: #585bfa;
    border-radius: 0 20px 20px 0;
    border: none;
    color: white;
    height: 45px;
    padding: 0 15px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #7c7cfd;
}

.search-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.svg {
    height: 300px;
    margin-top: 50px;
    margin-bottom: -100px;
    width: 100%;
}

.service-name {
    text-decoration: none;
    color: #6c6fff;
    width: 160px;
}

.mr {
    margin-right: 10px;
}

.column-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    opacity: 0.9;
    align-items: center;
}

.no-results-text {
    margin: auto;
    margin-top: 70px;
    margin-bottom: 50px;
}

.no-result-img-container {
    width: 200px;
    height: 200px;
}

.cancelBtn {
    padding: 10px 25px;
    border: none;
    background-color: #ffcccc;
    color: #ff4d4d;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-right: 15px;
}

.cancelBtn:hover {
    background-color: #ffb2b2;
    transform: translateY(-2px);
}


.switch-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 0;
    box-shadow: 0 0 15px rgba(92, 99, 105, 0.15);
    border-radius: 25px;
}

.btn-basic {
    background-color: #e1e1e1;
    border: none;
    border-radius: 20px 0 0 20px;
    padding: 10px 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.btn-basic:hover {
    background-color: #d5d5d5;
}

.btn-left {
    border-radius: 20px 0 0 20px;
}

.btn-right {
    border-radius: 0 20px 20px 0;
}

.btn-selected {
    background-color: #585bfa;
    color: white;
}

.btn-selected:hover {
    background-color: #7475ff;
}

.edit-btn {
    border: none;
    color: #585bfa;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding: 5px 10px;
    border-radius: 20px;
}

.edit-icon{
    margin: auto;
}

.edit-btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    transform: translateY(-2px);
}

.no-style{
    all: unset;
}