
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.page {
    padding-left: 120px;
    padding-right: 120px;
    font-family: 'Poppins', sans-serif;
}

.img {
    height: 100%;
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 2;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.transparent {
    display: none;
}

.above-dropdown {
    z-index: 3;
}

.highlight-text {
    color: #585bfa;
    font-weight: bold;
}

.align-right {
    display: flex;
    margin-left: auto;
    padding: 0;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.icon {
    margin-right: 10px;
}

.not-found-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
}

.not-found-text {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.none-decoration {
    text-decoration: none;
    color: black;
}

.btn {
    border: none;
    border-radius: 25px;
    background-color: #585bfa;
    padding: 15px 25px;
    font-size: 15px;
    box-shadow: 0 0 15px rgba(92, 99, 105, 0.15);
    cursor: pointer;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.btn:hover {
    background-color: #7475ff;
}

.btn-text {
    color: white;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}

.error {
    color: #e75a46;
    font-size: 14px;
}

.none-page-text {
    color: gray;
    margin: 0 15px;
}

.page-text {
    text-decoration: none;
    color: #585bfa;
    margin: 0 15px;
}