
.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-box {
    border-radius: 15px;
    width: 95%;
    height: 180px;
    margin-bottom: 25px;
    padding: 15px;
    box-shadow: 0 0 15px rgba(92, 99, 105, 0.15);
}

.service-data-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.service-img-container {
    height: 100%;
    width: 250px;
}

.service-img {
    border-radius: 15px;
}

.service-info {
    margin: 20px;
    width: 72%;
    height: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.service-text {
    text-decoration: none;
    color: black;
}

.service-header {
    display: flex;
    align-items: center;
}

p {
    margin: 0;
    padding: 0;
}

.item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.page-manage-box {
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    justify-content: center;
}

.none-page-text {
    color: gray;
}

.page-text {
    text-decoration: none;
    color: #585bfa;
}

.page-input {
    width: 30px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.not-found-text {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70vh;
}