body{
    height: 120vh;
}

.postForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select{
    display: flex;
}

.form {
    background-color: white;
    width: 700px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}
select.input {
    width: auto;
    margin-right: 15px;
}

.service-div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

}
.input {
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    background: none;
    padding: 10px 10px;
    margin-bottom: 15px;
}

.label {
    margin-top: 10px;
    font-size: 16px;
}

.submitBtn {
    display: block;
    margin-left: 5%;
    padding: 15px 30px;
    border: none;
    background-color: #585bfa;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.submitBtn:hover {
    background-color: #6c6fff;
    transform: translateY(-2px);
}

.form-title {
    text-align: center;
    margin-bottom: 10px;
}

.appointment-select {
    height: 150%;
    position: relative;
    bottom: -8px;
    font-size: 16px;
}

.options {
    display: flex;
    justify-content: flex-end;
}

.cancelBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: white;
    color: #ff4d4d;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.cancelBtn:hover {
    background-color: #ffcccc;
    transform: translateY(-2px);
}

.options a {
    text-decoration: none;
}
