body{
    height: 120vh;
}

.postForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select{
    display: flex;
}

.form {
    background-color: white;
    width: 700px;
    border-radius: 15px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}
select.input {
    width: auto;
    margin-right: 15px;
}

.service-div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input {
    width: 100%;
    height: fit-content;
    align-self: center;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    background: none;
    padding: 10px 10px;
    margin-bottom: 15px;
}

.label {
    margin-top: 10px;
    font-size: 16px;
}

.form-title {
    text-align: center;
    margin-bottom: 10px;
}

.appointment-select {
    height: 150%;
    position: relative;
    bottom: -8px;
    font-size: 16px;
}
input#image{
    cursor: pointer;
}
input#image::file-selector-button {
    cursor: pointer;
    width: fit-content;
    height: 100%;
    color: white;
    align-self: center;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    background: #585bfa;
    padding: 10px 10px;
    margin-bottom: 15px;
}

.cancelBtn {
    padding: 10px 25px;
    border: none;
    background-color: white;
    color: #ff4d4d;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-right: 15px;
}

.large-centered-btn{
    margin: 5px auto;
    width: 100%;
}

.cancelBtn:hover {
    background-color: #ffcccc;
    transform: translateY(-2px);
}

.submit-btn {
    padding: 10px 25px !important;
}

.btns-container {
    margin: 20px 0;
}

.password-options{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.password-options a {
    text-decoration: none;
    color: #585bfa;
    padding-left: 30px;
}

.register-options{
   display: flex;
   justify-content: space-between;
}

input[type="checkbox"] {
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
}

.r-pills input:checked + label {
    background-color: #585bfa;
    color:white;
}

.r-pills {
    display: inline-block;
    padding-bottom: 0.25em;
}

.r-pills label{
    border-radius: 2em;
    background-color: #eaeaea;
    cursor: pointer;
    border:0 ;
    display:block;
    padding:0.25em 0.75em;
}

.r-pills label:hover {
    background-color: lightgray;
}