.page {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto
}

.header {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.center-vertically {
    display: flex;
    justify-content: left;

}

.preview-box-img {
    height: 180px;
    width: 190px;
    border-radius: 15px;
}

.view-appointments {
    padding-right: 40px ;
    padding-top: 200px;
    align-items: flex-end;
}

.view-appointments-btn {
    font-family: 'Poppins', sans-serif;
    background-color: #6c6fff;
    width: 120px;
    font-size: medium;
    border-radius: 8px;
    border-color: transparent;
    margin-top: auto ;

}

.preview-box {
    height: 180px;
    border-radius: 15px;
    padding: 10px;
    width: 190px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.box {
    box-shadow: 0 0 15px rgba(92, 99, 105, 0.15);
}
.boxes-container {
    display: flex;
    margin-inline: -20px;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.preview-box-text {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 31px;
    width: 190px;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-box {
    border-radius: 15px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

.profile-field {
    padding-top: 35px;
    padding-left: 35px;
}

.profile-info-container {
    padding-bottom: 20px;
    width: 470px;
}