.page {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto
}

.header {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.center-vertically {
    display: flex;
    justify-content: left;

}

.preview-box-img {
    height: 180px;
    width: 190px;
    border-radius: 15px;
    overflow: hidden;
}

.view-appointments {
    padding-right: 40px ;
    padding-top: 200px;
    align-items: flex-end;
}

.view-appointments-btn {
    font-family: 'Poppins', sans-serif;
    background-color: #6c6fff;
    width: 120px;
    font-size: medium;
    border-radius: 8px;
    border-color: transparent;
    margin-top: auto ;
}

.preview-box {
    height: 180px;
    border-radius: 15px;
    padding: 10px;
    width: 190px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.preview-box:hover {
    background-color: #efefef;
}

.box {
    box-shadow: 0 0 15px rgba(92, 99, 105, 0.15);
}
.boxes-container {
    display: flex;
    margin-inline: -20px;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.preview-box-text {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 32px;
    width: 190px;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-box {
    border-radius: 15px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

.profile-field {
    padding-top: 35px;
    padding-left: 35px;
}

.profile-info-container {
    padding-bottom: 20px;
    width: 470px;
}

.info-btn {
    font-weight: normal;
    border-radius: 8px;
    padding: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    align-self: center;
    align-items: center;
}

.info-access {
    margin-right: 20px;
}

.info-icon{
    padding-right: 5px ;
}

.selected {
    background-color: #6c6fff;
}

.new-service {
    background-color: #585bfa;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 15px 15px;
    height: 40px;
    padding: 0 25px;
}

.business-container {
    height: 180px;
    margin: 25px;
    width: 210px;
}

.business-box {
    border-radius: 15px 15px 0 0;
    height: 140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-box:hover {
    background-color: #efefef;
}

.new-service:hover {
    background-color: #7475ff;
    font-weight: bold;
    transform: translateY(-2px);
}