
.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-box {
    border-radius: 15px;
    width: 95%;
    height: 180px;
    margin-bottom: 25px;
    padding: 15px;
    box-shadow: 0 0 15px rgba(92, 99, 105, 0.15);
}

.service-box:hover {
    background-color: #efefef;
}

.service-data-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.service-img-container {
    height: 100%;
    width: 250px;
}

.service-img {
    border-radius: 15px;
}

.service-info {
    margin: 20px;
    width: 72%;
    height: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.service-text {
    text-decoration: none;
    color: black;
}

.service-header {
    display: flex;
    align-items: center;
}

p {
    margin: 0;
    padding: 0;
}

.item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.page-manage-box {
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    justify-content: center;
}

.page-input {
    width: 30px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.selected-page {
    color: black;
    font-weight: bold;
}

.none-selected-page {
    color: gray;
}

.page-num {
    margin: 0 8px;
    cursor: pointer;
}

.page-nums {
    margin: 0 20px;
}

.filters-text {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.filters-text:hover {
    color: #5b5b5b;
}

.filters-info {
    margin: 0 40px 30px 40px;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    border-radius: 20px;
    border: none;
    padding: 8px 20px;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
}

.close-filter-icon {
    margin-left: 10px;
    color: black;
}

.comment {
    color: gray;
}

.filters-selected {
    margin-bottom: 20px;
}

.filters-box {
    background-color: #e1e1e1;
    padding: 15px 20px;
    border-radius: 20px;
    width: 30%;
    position: absolute;
    top: 78%;
    right: 100px;
    transform: translateY(-50%);
    z-index: 9999;
}

.filters-text {
    margin-bottom: 10px;
    align-items: center;
    display: flex;
}

.stars {
    font-size: 16px !important;
    color: #f8ae00 !important;
}

.form-box {
    width: 85%
}

.filter-text {
    margin-bottom: 8px;
    align-items: center;
    display: flex;
}

.filter-text:hover {
    color: #585bfa !important;
}

.TBD-comment {
    color: gray;
    font-style: italic;
    margin: 0 6px;
}