

.info-container {
    height: 400px;
    display: flex;
    margin-bottom: 40px;
    margin-top: 20px;
}

.img-container {
    width: 60%;
    height: 100%;
}

.service-img {
    border-radius: 15px;
}

.info-box {
    height: 100%;
    box-shadow: 0 0 15px rgba(92, 99, 105, 0.15);
    border-radius: 15px;
    width: 40%;
    margin-left: 20px;
}

.info-text {
    padding:20px;
}

.category-text {
    color: gray;
}

.take-turn-btn {
    color: white;
    background-color: #21b8de;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    border: none;
    padding: 10px;
    padding-inline: 25px;
}

.take-turn-btn:hover {
    opacity: 0.7;
}
.take-turn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}