

.info-container {
    height: 400px;
    display: flex;
    margin-bottom: 40px;
    margin-top: 20px;
}

.img-container {
    width: 60%;
    height: 100%;
}

.service-img {
    border-radius: 15px;
}

.deleteBtn{
    position: relative;
    top: 10px;
    right: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    font-size: 16px;
    margin-top: 30px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.info-box {
    height: 100%;
    box-shadow: 0 0 15px rgba(92, 99, 105, 0.15);
    border-radius: 15px;
    width: 40%;
    margin-left: 20px;
}

.info-text {
    padding:20px;
}

.category-text {
    color: gray;
}