
.question-box {
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    border-radius: 20px;
}

.qst {
    padding: 0;
    margin: 0;
}

.qst-service {
    padding: 0;
    margin: 10px 0 5px 0;
    color: gray;
    cursor: pointer;
}

.qst-service:hover {
    color: #585bfa;
}

.input {
    background-color: #e3e3e3;
    padding: 10px 15px;
    border: none;
    border-radius: 10px 0 0 10px;
    font-family: 'Poppins', sans-serif;
    width: 60%;
}

.send-btn {
    border: none;
    border-radius:  0 10px 10px 0;
    background-color: #6c6fff;
    padding: 10px 15px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.send-btn:hover {
    background-color: #7c7cfd;
}

.qst-date {
    color: #646464;
    margin: 0 30px;
    padding: 0;
    font-size: 14px;
}

.qst-date-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.notification-icon {
    margin-right: 10px;
}

.notification-header {
    display: flex;
    align-items: center;
}