<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:remove="all"  th:text="${subject}" ></title>
</head>
<body>
  <p>
    Estimado,<span th:text="' '+${user.getName()}+' '+${user.getSurname()}"></span>
  </p>
  <p>
        Hemos recibido una solicitud para restablecer la contraseña de su cuenta. Si no ha solicitado este cambio, por favor ignore este mensaje.
  </p>
  <p>
        Para restablecer su contraseña, haga click en el siguiente enlace: <a th:href="${url}+'restablecer-clave/'+${token}" th:text="${url}+'restablecer-clave/'+${token}"></a>
  </p>
  <p>
       <br />
        <em>Servinet</em>
  </p>
</body>
</html>