<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <meta http-equiv="Content-Type" content="multipart/form-data; charset=UTF-8" /> <!-- multipart/form-data-->
        <title th:remove="all"  th:text="${subject}" ></title>
        <style>
            button {
                border-radius: 8px;
                border: none;
                padding: 10px;
                margin-bottom: 5px;
            }

            button:hover {
                opacity: 0.7;
            }
            .cancel {
                background-color: #de2121;
            }
        </style>
</head>
<body>
<p>
    Estimado,
</p>
<div>
    El servicio <span th:text="${serviceName}"/> ha sido <span th:switch="${type}">
        <span th:case="'CREATED'">
            creado exitosamente. Su número de identificación es el #<span th:text="${serviceId}"></span>.
            Ya se encuentra disponible en <a th:href="${url}+${serviceId}" th:text="${url}+${serviceId}"></a>.
            <p>
            Si desea eliminar el servicio y con ello todos los turnos solicitados desde nuestra página servinet, haga click en:
            <form th:action="${url}+'borrar-servicio/'+ ${serviceId}" method="post">
                <button class="cancel" type="submit">Eliminar servicio</button>
            </form>
            <em>Esta operación no se podrá deshacer</em>
            </p>
        </span>
        <span th:case="*">
            borrado exitosamente. Todos los turnos solicitados desde nuestra página servinet han sido cancelados.
            <p>
            Si desea crear un nuevo servicio, haga click <a th:href="${url}+'publicar'">aqui</a>.
            </p>
        </span>
    </span>
</div>
<p>
    <br />
    <em>Servinet</em>
</p>
</body>
</html>